html {
  font-family: "Lato", Courier, monospace;
}
body {
  background-color:rgb(13, 15, 29);
  color: white;
  font-size: 18px;
  margin: 0;
  background-image: url(./images/bgimg/bgstar.png);
  background-attachment: scroll;
  background-size: 70%;
  background-blend-mode: screen;
}
main {
  padding: 5vh;
  border: 2px dashed white;
  min-width: auto;
  margin: 1rem 7vw 2rem 7vw;
}
#maincontent {
  transition: all 0.3s;
}
a {
  color:rgb(0, 31, 115)
}
a:visited {
  color: rgb(93, 16, 142);
}
li {
  padding: 1vh;
  transition: scale 0.15s ease;
}
li:hover {
  scale: 1.1;
}
h1 {
  margin: 2vh;
  text-align: center;
}
header {
  position: fixed;
  background-color: rgb(27, 24, 30);
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  align-content: center;
  color: rgb(228, 249, 255);
}
#headerimg {
  margin: auto;
  width: 100vw;
  right: 0;
}
ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  font-weight: bold;
  margin-top: 0;
}
nav {
  background-color: rgb(254, 255, 222);
  background: linear-gradient(30deg,rgba(230, 216, 174, 1) 0%, rgba(255, 248, 222, 1) 30%, rgba(230, 216, 174, 1) 70%, rgba(255, 248, 222, 1) 100%);
}
#lightson {
  border: none;
  background: none;
}
#lightonimg {
  z-index: 3;
  position: fixed;
  bottom: 7vh;
  right: 5vh;
  transition: scale 0.2s ease;
}
#lightonimg:hover {
  scale: 1.2;
}
h2 {
  margin-top: 2rem;
  text-align: center;
}
#gallery {
  text-align: center;
  display: grid;
  grid-template-areas: 
  "home1 home2"
  "home3 home4"
  "home5 home6";
  align-items: center;
  padding: 2%;
}
p {
  font-weight: 400;
}
.ic {
  padding:0vh 1vh;
}
.icontain {
  margin-bottom: 1rem;
}
.contents{ 
  text-align: center;
}
.contents p {
  margin-left: 10vw;
  margin-right: 10vw;
}
.homeimg {
  align-self: center;
  border: 3px solid white;
  max-width: 25vw;
}
.external {
  color: white;
}
.external:visited {
  color:white;
}
footer {
  border-top: 2px solid white;
  left: 0;
  width: 80vw;
  text-align: center;
  padding: 2vh;
  margin: auto;
  margin-top: 5vh;
  font-size: 16px;
}
#linktree {
  /* border-radius: 50%; */
  transition: all 0.2s ease-out;
}
#linktree:hover {
  scale: 1.2;
  /* rotate: 12deg; */
}
.portrait {
  max-height: 60vh;
}
.landscape {
  max-width: 50vw;
  margin-bottom: 0.5rem;
}
p {
  padding: 1rem;
}
.background {
  mix-blend-mode: hard-light;
  position: fixed;
  opacity: 15%;
}
#background1 {
  margin: auto;
  top: 18vh;
  left: 3vw;
  z-index: -2;
}
#background2 {
  bottom: 8vh;
  right: 5vw;
  z-index: -3;
}
/* #starsimg {
  z-index: -1;
  opacity: 80%;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  background-attachment: scroll;
} */
button {
  outline: none;
  background-color: none;
}

.lightmain {
  background-color: rgb(213, 251, 254);
  color:rgb(42, 41, 47);
  background-image: none;
}
.lightmain main {
  border: 2px dashed rgb(14, 30, 154);
}
.lightmain a {
  color: rgb(37, 48, 143);
}
.lightmain .homeimg {
  border: 3px solid rgb(22, 25, 49);
}
.lightmain #headerimg {
  border: none;
  box-shadow: 0px 0px 15px rgb(9, 28, 104);
}
.lightmain footer {
  border-top: 2px solid rgb(22, 25, 49);
}
.lightmain .background {
  mix-blend-mode: multiply;
  opacity: 60%;
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  header {
    height: 10vh;
  }
  p {
    font-size: 16px;
  }
  main {
  border: 2px dashed white;
  min-width: auto;
  margin: 0rem 3vw 0rem 3vw;
  }
  h1 {
    margin: 1vh;
  }
  li {
    font-size: 16px;
  }
  #gallery {
  display: block;
  text-align: center;
  align-items: center;
  }
  .homeimg {
  align-self: center;
  border: 3px solid white;
  max-width: 85%;
  margin: 2px;
  }
  .contents p {
  margin-left: 5vw;
  margin-right: 5vw;
  }
  #headerimg {
  margin: auto;
  height: 80vh;
  object-fit: cover;
  overflow: hidden;
  right: 0;
  }
}